body{
    margin: 0;
    padding: 0;
}
.me{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(124, 124, 180);
    height: 800px;
    text-align: center;
}
button{
    background-color: transparent;
    padding: 15px 30px;
    border: 1px solid grey;
    border-radius: 8px;
}